<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head.ejs') %>
</head>

<body id="about-us">
  <%- include('../layout/header.ejs') %>
  <main id="about-us">
    <ul id="blurbs">
      <h2 id="jasonh2" class="member-name">Jason Quaglia</h2>
      <img src="img/jason.jpg" id="jason" class="hero" alt="pic of jason quaglia">
      <p id="jasonp" class="intro">Hi, I’m Jason. I’m originally from upstate New York before moving out west to the
        mountains of
        California and
        later here. I’m an organized, ethically driven punctual worker. I grew up with a software developer for a father
        and have loved all kinds of technology for as long as I can remember. I’ve always been the person to help people
        fix their problems. I have worked in the security, customer service and labor industries my whole life. It was
        while working in these positions that I realized how important company values were to me. I want my work to be
        representative of my own values. I’m a software developer with strong technical skills, ethical motivation and a
        knack for troubleshooting of all kinds. I believe this makes me a uniquely suited fit for any tech company.

      </p>
      <p id="jason-links">
        <a href="https://www.linkedin.com/in/jason-quaglia/"><img src="img/linkedinicon.png" alt="" class="icon"></a>
        <a href="https://github.com/jquaglia"><img src="img/githubicon.png" class="icon" alt="github logo"></a>
      </p>


      <h2 id="clementh2" class="member-name">Clement Buchanan</h2>
      <img src="img/Buchanan_Clement (1).jpg" class='hero' id="clement" alt="pic of clement buchanan">


      <p id="clementp" class="intro">I'm a Full Stack Software Developer and a veteran. You can learn about my
        professional career and
        my software
        development and technical skills by clicking any of the links below. I am actively seeking employment as a
        Software Engineering Product Manager for a company in the healthcare services business. As a software developer
        with a passion for creating technological applications for making the delivery of healthcare services more
        simplified and dynamic my overall goal is to contribute to addressing the long-term logistical and technical
        issues in healthcare. I have a strong background in public health data analytics and informatics. Strong data
        analytics and informatics skills and an appreciation for UI/UX.</p>
      <p id="clement-links">
        <a href="https://www.linkedin.com/in/clement-buchanan-ma-mph-informatics-bb50a5a/"><img
            src="img/linkedinicon.png" class="icon" alt="linkedin logo"></a>
        <a href="https://github.com/ClementBuchanan"><img src="img/githubicon.png" alt="github logo" class="icon"></a>
      </p>

      <h2 class="member-name">Sang Lee</h2>
      <img src="img/sang.jpeg" id="sang" class='hero' alt="pic of sang lee">
      <p class="intro">I am an experienced product leader with a track record of successful hardware product launches. I
        am on a
        journey to increase my technical depth into software product development, and as a veteran, am seeking a mission
        driven organization where I can help lead teams and help build amazing products. I am passionate about customer
        empathy to drive early concept ideation, cross-functional collaboration, and iterative experiments. I am a proud
        parent of two energetic boys, ages 4 and 2, who help bring fresh new perspective to the natural wonders of the
        Pacific Northwest, and life.</p>
      <p id="sang-links">
        <a href="https://www.linkedin.com/in/sang-m-lee-7477a33/"><img src="img/linkedinicon.png" class="icon"
            alt="linkedin logo"></a>
        <a href="https://github.com/sangmlee76"><img src="img/githubicon.png" class="icon" alt="github logo"></a>
      </p>

      <h2 id="shayh2" class="member-name">Seamus Brown</h2>
      <img src="img/shay.jpg" id="shay" class='hero' alt="pic of seamus brown">
      <p id="shayp" class="intro">Before I dove into the tech world I worked a host of different jobs, primarily in
        customer service.
        I enjoyed
        solving problems for my customers but the same problems on repeat left me less engaged than I'd like. I had
        previous experience managing an eccomerce website and I thoroughly enjoyed implementing apps to make the site
        more engaging to our customers. I find customer feedback an excellent inspiration to create better experiences
        and I'd love to integrate that passion into my work as a developer.</p>
      <p id="seamus-links">
        <a href="https://www.linkedin.com/in/dlcalhoun/"><img src="/img/linkedinicon.png" class="icon"
            alt="linkedin logo"></a>
        <a href="https://github.com/dcalhoun286"><img src="img/githubicon.png" class="icon" alt="github logo"></a>
      </p>

    </ul>

  </main>
  <footer>
    <script src="app.js"></script>
  </footer>
</body>

</html>