<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/about-us.css">
  <title>SuperSimpleAgent</title>
</head>

<body>
  <header>
    <h1>About Us</h1>
  </header>
  <main>
    <ul>
      <li>
        <h2>Jason Quaglia</h2>
        <p>lorem ipsum</p>
        <p id="jason-links">
          <a href="https://www.linkedin.com/in/jason-quaglia/"><img src="" alt="linkedin logo"></a>
          <a href="https://github.com/jquaglia"><img src="img/githubicon.png" alt="github logo"></a>
        </p>
        </p>
      </li>
      <li>
        <h2>Clement Buchanan</h2>
        <p>lorem ipsum</p>
        <p id="clement-links">
          <a href="https://www.linkedin.com/in/clement-buchanan-ma-mph-informatics-bb50a5a/"><img
              src="img/linkedinicon.png" alt="linkedin logo"></a>
          <a href="https://github.com/ClementBuchanan"><img src="img/githubicon.png" alt="github logo"></a>
        </p>
      </li>
      <li>
        <h2>Sang Lee</h2>
        <p>lorem ipsum</p>
        <p id="sang-links">
          <a href="https://www.linkedin.com/in/sang-m-lee-7477a33/"><img src="img/linkedinicon.png"
              alt="linkedin logo"></a>
          <a href="https://github.com/sangmlee76"><img src="img/githubicon.png" alt="github logo"></a>
        </p>
      </li>
      <li>
        <h2>Seamus Brown</h2>
        <p>Before I dove into the tech world I worked a host of different jobs, primarily in customer service. I enjoyed
          solving problems for my customers but the same problems on repeat left me less engaged than I'd like. I had
          previous experience managing an eccomerce website and I thoroughly enjoyed implementing apps to make the site
          more engaging to our customers. I find customer feedback an excellent inspiration to create better experiences
          and I'd love to integrate that passion into my work as a developer.</p>
        <p id="seamus-links">
          <a href="https://www.linkedin.com/in/dlcalhoun/"><img src="/img/linkedinicon.png" alt="linkedin logo"></a>
          <a href="https://github.com/dcalhoun286"><img src="../../img/githubicon.png" alt="github logo"></a>
        </p>
      </li>

    </ul>
  </main>
</body>

</html>