<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collection of searches</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/module.css">
  <!-- Load icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <p>Collection of searches</p></br>
  <section>
    <form class="search" action="POST">
        <label for="search"></label><br>
        <input type="text" id="API" placeholder="input your API URL"><br>
        <input type="submit" value="Search">
      </ br>
      <label for="recommendation1"></label><br>
      <input type="text" id="recom1" placeholder="Recommendation 1"><br>
      <label for="recommendation1"></label><br>
      <input type="text" id="recom1" placeholder="Recommendation 2"><br>
      <label for="recommendation1"></label><br>
      <input type="text" id="recom1" placeholder="Recommendation 3"><br>
      <label for="recommendation1"></label><br>
      <input type="text" id="recom1" placeholder="Recommendation 4"><br>
    </form>
  </section>
  
</body>
</html>