<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collection of searches</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <h1> Oops, something went wrong...</h1>
  </header>
  <main id="error-main">
    <ul class="ul">
      <h2> Perhaps you can try: </h2>
      <li>
        1: Checking that you have a valid URL; please ensure that your URL does <span class="emphasize">not</span> include API keys.
      </li>
      <li>
        2. Running your search again below or trying a test URL to determine if the issue is on our end; we recommend trying: <span
          id="test-api">https://pokeapi.co/api/v2/pokemon/</span>
      </li>
      <li>
        <form class="search" action="/search" method="POST">
          <input id="error" type="text" name="search" placeholder="Insert API search URL here">>
          <input type="submit" id="search-button" name="search" name="category" value="search">
        </form>
      </li>
      <li>
        3. Using our recommended URL search option on our <span class="emphasize">home page</span> to see if you can find what you are looking for there.
        <a href="/"><button>Go to Home</button></a>
      </li>

      <li>
        Note: if you return to this page after using our recommended URL above on step 2, please submit a trouble
        ticket to <a href="mailto:super-simple-devs@simpleagents.org">super-simple-devs@simpleagents.org</a>
      </li>
    </ul>

    <!-- Note: below code obtained from resource: https://tenor.com/view/milk-mocha-milk-and-mocha-bears-bored-wait-gif-13418519 -->

    <div class="tenor-gif-embed" data-postid="13418519" data-share-method="host" data-width="100%"
      data-aspect-ratio="1.5"><a
        href="https://tenor.com/view/milk-mocha-milk-and-mocha-bears-bored-wait-gif-13418519">Milk Mocha GIF</a> from <a
        href="https://tenor.com/search/milk-gifs">Milk GIFs</a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  </main>

  <%- include('../layout/footer.ejs') %>
</body>

</html>