<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <title>SuperSimpleAgent</title>
</head>

<body>
  <header>
    <nav> <a href="about-us.ejs" About Us> </nav>
  </header>
  <main>
    <a href="/collection">Pokemon Collection</a></ br>
    <form action="/search" method="POST">
      <input type="text" name="search" placeholder="Insert API search URL here">
      <input type="submit" name="search" value="search">
    </form>
    <article>

    </article>






    <br>
    <br>
    <form action="/recommendations" method="GET">
      <input type="text" name="category" placeholder="Type in a category">
      <input class="category-button" type="submit" name="category" value="Category Recommendation">
      <select>
        <option value="default">Choose an API category</option>

      </select>
    </form>
    <br>
    <h3>Example Categories: News, Music, Animals, Books, Business, Cryptocurrency, etc.</h3>
    <br>
    <a href=https://github.com/public-apis/public-apis#open-data>Big PAPA direct link</a>

  </main>
  <footer>































    <a href="/about-us">ABOUT US</a>
  </footer>

</body>

</html>