<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <title>SuperSimpleAgent</title>
</head>
<body>
  <header>
    <nav></nav>
  </header>
  <main>
    <a href="/collection">Pokemon Collection</a></ br>
    <form action="/search" method="POST">
      <input type="text" name="search" placeholder="Insert API search URL here">
      <input type="submit" name="search" value="search">
    </form>
    <article>

    </article>
  </main>
  <footer>

  </footer>
  
</body>
</html>