body {
  font-family: Arial;
}

header {
  margin-top: 5px;
  height: 75px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%;
}

h1 {
  grid-column: 1;
  grid-template-rows: 0/3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.65rem;
  margin-left: 20px;
  /* background-color: #1E2436; */
}

h3 {
  margin-bottom: 10px;
}

nav {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-decoration: none;
}

.index {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px 200px 150px 150px 175px;
  margin-top: 20px;
}

.index article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index a {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 10% 25%;
  justify-items: center;
}

input {
  width: 400px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
}

select {
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.search-button {
  width: 200px;
  grid-row: 3;
  border-radius: 20px;
}

article {
  text-align: justify;
  margin-left:10px;
  margin-right:10px;  
}

.search {
  height: 200px;
}

main section {
  margin-top: 20px;
}

.reccs {
  width:200px;
  grid-row: 3;
  border-radius: 20px;
}

a {
  margin-top:10px;
text-align: center;
}

footer {
  margin: 10px;
  padding: 20px;
}

footer section {
  text-align: justify;
  color: rgba(35,41,61, .6);
}

#json{
  background-color: aliceblue;
}

/* for desktop view */
@media (min-width: 768px){
  h1{
font-size: 2.5rem;
  }

header{
  height:100px;
}

 main {
  margin: auto;
  padding-top: 20px;
  width:960px;
  }
  
  input {
    width: 800px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
  }
  
  select {
    border-radius: 10px;
    width: 800px;
    text-align: center;
  }

#json-results{
  overflow: scroll;
  height: 1000px;
}

.saved-search{
display: block;
height: 60px;
}

.collect-ul{
display: grid;
grid-template-columns: 66% 33%;
grid-template-rows: 50px 50px 50px;
}

.collect-ul li:nth-child(1){
  grid-column: 1;
}

.collect-ul li:nth-child(2){
  grid-column: 1;
}

.collect-ul li:nth-child(3){
  grid-column: 1;
}

.collect-ul li:nth-child(4){
  grid-column: 2;
  grid-row: 2;
}

}