body {
  font-family: Arial;
}

header {
  margin-top: 5px;
  height: 75px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%;
}

h1 {
  grid-column: 1;
  grid-template-rows: 0/3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-left: 20px;
  background-color: #1E2436;
}

nav {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
}

nav a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-decoration: none;
}



form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*mobile*/

@media (min-width: 480px) {
  main {
    width: 480px;
    margin: auto;
  }
  section {
    text-align: left;
  }
  section:nth-of-type(1){
    width: 20px;
    height: 20px;
  }
  section:nth-of-type(2){
  width: 480px;
  height: 150px;
  }
  section:nth-of-type(3){
  width: 480px;
  height: 125px;
  }

  section:nth-of-type(4){
    width: 50%;
    height: 250px;
  }

}