
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

header {
  font-family: 'Sriracha', cursive;
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
}

.ul {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .24), 0 1px 4px rgba(0, 0, 0, .48);
  border-radius: 20px;
  margin-bottom: 30px;
}

li {
  padding: 10px;
}

#error {
  width: 300px;

}

span#test-api {
  color: rgb(228, 228, 175);
}

span.emphasize {
  font-weight: bolder;
  font-style: oblique;
}

footer {
  margin: 30px 0px;
}

button {
  margin-top: 5px;
}
#link{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px){

#error-main {
  width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

footer {
  width: 960px;
  margin: auto;
}

}